{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}


<div class="container-xl" style="display: flex; flex-direction: column;
justify-content: center; align-items: center; padding-top: 30px;
"
>
 
        <h2 style="color: #2e2b84;">Adicionar Livro</h2>
    <div class="container-sm" style="width: 100%; max-width: 500px; ">
        <form action="/admin/postagens/nova" method="post">

            <label for="titulo">Nome: </label>
            <input type="text" name="nome" class="form-control">
            
            <label for="autor">Autor: </label>
            <input type="text" name="autor" class="form-control">

            <label for="descricao">Descrição: </label>
            <input type="text" name="descricao" class="form-control">

             <label for="conteudo">Conteúdo: </label>
            <textarea name="conteudo" class="form-control" ></textarea>
            
            <label for="volume">Volume: </label>
            <input type="text" name="vol" class="form-control">

            <label for="descricao">ED: </label>
            <input type="text" name="ed" class="form-control">

            <label for="ed">Ano: </label>
            <input type="text" name="ano" class="form-control">

              <label for="editora">Editora/Local: </label>
            <input type="text" name="editora" class="form-control">

            <label for="origem">Origem: </label>
             <input type="text" name="origem" class="form-control">

            <label for="origem">Localização: </label>
             <input type="text" name="localizacao" class="form-control">

            <label for="volume">Exemplares: </label>
            <input type="text" name="exemplares" class="form-control">

            <label for="origem">Data: </label>
             <input type="text" name="data" class="form-control">

            <label for="cateoria">Categoria: </label>
            <select name="categoria" class="form-select">
                {{#each categorias}}
                <option value="{{_id}}">{{nome}}</option>
                {{else}}
                <option value="0">Nenhuma categoria registrada!</option>
                {{/each}}
            </select>

           
            <button type="submit" class="btn btn-success mt-4">Criar postagem</button>
        </form>
    </div>
</div>


   
