{{#each erros}}
  <div class="alert alert-danger">{{erros}}</div>
{{else}}

{{/each}}


<section class="conteiner-main">
  <div class="content-top">
    <div>
      <img
        src="https://media.discordapp.net/attachments/945491578410119180/1016434487279763567/logo.png"
        alt="Instituo de Educação - Professor. Manuel Marinho"
      />
    </div>
    <h1>Bem-vindo a biblioteca</h1>

    <div class="box-form">
      <form action="/news" method="post">
        <input
          type="text"
          class="form-control"
          name="test"
          placeholder="Nome do livro"
        />
        <button type="submit">Pesquisar</button>
      </form>
    </div>

  </div>

  {{!-- <h2 >Livros: </h2> --}}

  <section class="content-down">

    {{#each livros}}

      <div class="card-one">
        <div class="card-body-one">
            <h4>{{NOME}}</h4>
            <p>{{AUTOR}}</p>
        </div>

        <div class="card-mid-one">
           <a href="/postagem/{{AUTOR}}">
                 <button>Leia mais</button>
            </a>
        </div>

        <div class="card-body-down">
            <h5>{{categoria.nome}}</h5>
            {{!-- <small>Data de publicação: {{categoria.nome}}</small> --}}
        </div>
           
      </div>

    {{else}}
      <h5>Nenhum Livro encontrado!</h5>
    {{/each}}

  </section>
</section>







