<h2>{{cat.nome}}</h2>

<section class="categorias">
{{#each postagens}}
<div class="card-one" >
    <div class="card-body-one">
        <h4>{{NOME}}</h4>
        <h5>{{AUTOR}}</h5>       
    </div>
    <div class="card-mid-one">
           <a href="/postagem/{{AUTOR}}">
                 <button>Leia mais</button>
            </a>
            <small>{{cat.nome}}</small><br>
         <small>{{cat.date}}</small>
        </div>
    
</div>

{{else}}
<h5>Nenhuma postagem</h5>
{{/each}}
</section>