
<div style="margin: 10px 0 15px 15px;">
<a href="/" >
    <button  class="btn btn-warning mb-10">Voltar</button>
</a>

</div>
<div class="card " >
    <div class="card-body ">
<h3>Titulo: {{postagem.NOME}}</h3>
<h2>Autor: {{postagem.AUTOR}}</h2>
<hr>
<p><strong>Descrição:</strong>  {{postagem.DESCRICAO}}</p>
<p><strong>Conteúdo:</strong>  {{postagem.CONTEUDO}}</p>
<p><strong>Volume:</strong>  {{postagem.VOL}}</p>
<p><strong>Ed:</strong>  {{postagem.ED}}</p>
<p><strong>Ano:</strong>  {{postagem.ANO}}</p>
<p><strong>Editora:</strong>  {{postagem.EDITORA}}</p>
<p><strong>Origem:</strong>  {{postagem.ORIGEM}}</p>
<p><strong>Localização:</strong>  {{postagem.LOCALIZAÇÃO}}</p>
<p><strong>Exemplares:</strong>  {{postagem.EXEMPLARES}}</p>
<hr>
<p><strong>Data de publicação:</strong> {{postagem.DATA}}</p>
<hr>
    </div>
</div>